body{
background-color: rgb(0, 0, 0);
text-align: center;
align-items: center;
align-content: center;
/*background-image: url("pexels-lisa-fotios-834657.jpg");*/
background-size: cover;
background-position: center;
/*background-repeat: no-repeat;*/

}

.corpo{
     background-color: rgb(255, 255, 255);
     padding: 50px;
     margin: 300px 500px 10px 500px;
     border: 20px solid rgb(0, 0, 0);
     border-radius: 1000px;
     font-size: 50px;
     color: rgb(0, 0, 0);
     font-family: "Kode Mono", monospace;
     font-optical-sizing: auto;
     font-size: 100px;
     padding-top: 0;
     padding-bottom: 0;
     animation: colorChangeB 20s linear infinite ;
     

     
}

@keyframes colorChange {
     0% { background-color: rgb(255, 0, 0); } /* Vermelho */
     30%{ background-color: rgb(162, 0, 255);}
     50% { background-color: rgb(0, 255, 0);} /* Verde */
     100% { background-color: rgb(0, 0, 255);} /* Azul */
     70% {  background-color: rgb(218, 255, 8);} 
   }
   
@keyframes colorChangeB {
     
     0% { border: 100px solid rgb(255, 0, 0); } /* Vermelho */
     30%{  border: 50px solid rgb(162, 0, 255);}
     50% {  border: 20px solid rgb(0, 255, 0);} /* Verde */
     70% {  border: 1px solid rgb(0, 0, 255);} /* Azul */
     100% {   border: 100px solid rgb(218, 255, 8);} 
     70% {  border: 1px solid rgb(255, 153, 0);} /* Azul */
     50% {  border: 20px solid rgb(0, 0, 0);} /* Verde */
     30%{  border: 50px solid rgb(162, 0, 255);}
     
      0% {
    transform: translateX(0);
  }
  20% {
     transform: translatey(-100%);
   }
  40% {
     transform: translateX(-60%);
   }
   60% {
     transform: translatey(117%);
   }
  80% {
    transform: translateX(57%);
    /* Opcional: adicione propriedades de opacidade para efeito de "desaparecimento" */
    opacity: 100;
   }
   100% {
     transform: translateX(0);
   }

}

     
     
@media screen and (max-width: 1400px){
     .corpo{
          display: flex;
          margin: 200px 300px ;
          margin-left: 500;
          font-size: 60px;
          position: absolute;
          right: 0px;
          left: 0px;
          background-size: cover;
          background-repeat:repeat;

     }






     @keyframes colorChangeB {
     
      0% { border: 100px solid rgb(255, 0, 0); } /* Vermelho */
      30%{  border: 50px solid rgb(162, 0, 255);}
      50% {  border: 20px solid rgb(0, 255, 0);} /* Verde */
      70% {  border: 1px solid rgb(0, 0, 255);} /* Azul */
      100% {   border: 100px solid rgb(218, 255, 8);} 
      70% {  border: 1px solid rgb(255, 153, 0);} /* Azul */
      50% {  border: 20px solid rgb(0, 0, 0);} /* Verde */
      30%{  border: 50px solid rgb(162, 0, 255);}
      
       0% {
     transform: translateX(0);
   }
   20% {
      transform: translatey(-100%);
    }
   40% {
      transform: translateX(-50%);
    }
    60% {
      transform: translatey(117%);
    }
   80% {
     transform: translateX(40%);
     /* Opcional: adicione propriedades de opacidade para efeito de "desaparecimento" */
     opacity: 100;
    }
    100% {
      transform: translateX(0);
    }
 
 }















}


@media screen and (max-width: 767px) {
.corpo{
     margin:0;
     margin-top: 0px;
     padding:0;
     border: 3px solid rgb(0, 0, 0);
     font-size: 50px;
     border-radius: 10px;
     animation: colorChangereverse 10s linear infinite reverse ;
     font-size: 40px;

}

body{
     backface-visibility: visible;
     background-image: none;
     justify-content: center;
     justify-items: center;
     animation: colorChange 20s linear infinite;
 }

 @keyframes colorChange {
     10% { background-color: rgb(71, 71, 71); } /* Vermelho */
     10% { background-color: rgb(53, 52, 52); } /* Vermelho */
     30%{ background-color: rgb(22, 22, 22);}
     50% { background-color: rgb(31, 32, 31);} /* Verde */
     90% { background-color: rgb(83, 83, 85);} /* Azul */
     70% {  background-color: rgb(25, 27, 13);} 
     100% {  background-color: rgb(0, 0, 0);} 
   }


   @keyframes colorChangereverse {
     0% { background-color: rgb(255, 0, 0); } /* Vermelho */
     30%{ background-color: rgb(162, 0, 255);}
     50% { background-color: rgb(0, 255, 0);} /* Verde */
     100% { background-color: rgb(0, 0, 255);} /* Azul */
     70% {  background-color: rgb(218, 255, 8);} 


           
     0% {
      transform: translatey(0);
    }
    20% {
       transform: translatey(650%);
     }

   
     
   }



  












}





 /*  @media screen and (min-height: 767px) and (
     min-height: 450px) {
     
     }
     
     
        }

        */
          @keyframes bater {
          0% {
            transform: translateX(0);
          }
          25% {
            transform: translateX(100%);
          }
          50% {
            transform: translateX(100%);
          }
          75% {
            transform: translateX(0);
          }
          100% {
          transform: translateX(100%);
          }
        }
        
        .objeto.animando {
          animation: bater 2s linear infinite;
        }