body{
background-color: rgb(0, 0, 0);
text-align: center;
align-items: center;
align-content: center;
background-image: url("pexels-lisa-fotios-834657.jpg");
background-size: cover;
background-position: center;
/*background-repeat: no-repeat;*/

}

.corpo{
     background-color: rgb(255, 255, 255);
     padding: 50px;
     margin: 500px 100px 10px 900px;
     border: 20px solid rgb(0, 0, 0);
     border-radius: 90px;
     font-size: 50px;
     color: rgb(0, 0, 0);
     font-family: "Kode Mono", monospace;
     font-optical-sizing: auto;
     font-size: 100px;
     padding-top: 0;
     padding-bottom: 0;
     animation: colorChange 5s linear infinite;

     
}

@keyframes colorChange {
     0% { background-color: rgb(255, 0, 0); } /* Vermelho */
     30%{ background-color: rgb(162, 0, 255);}
     50% { background-color: rgb(0, 255, 0);} /* Verde */
     100% { background-color: rgb(0, 0, 255);} /* Azul */
     70% {  background-color: rgb(218, 255, 8);} 
   }



     
     
@media screen and (max-width: 1400px){
     .corpo{
          display: flex;
          margin: 200px 300px ;
          margin-left: 500;
          font-size: 60px;
          position: absolute;
          right: -200px;
          left: 300px;
          background-size: cover;
          background-repeat:repeat;

     }

}

@media screen and (max-width: 767px) {
.corpo{
     margin:0;
     margin-top: 300px;
     padding:0;
     border: 2px solid rgb(0, 0, 0);
     font-size: 50px;
     border-radius: 10px;
     animation: colorChangereverse 10s linear infinite reverse ;
     font-size: 40px;

}

body{
     backface-visibility: visible;
     background-image: none;
     justify-content: center;
     justify-items: center;
     animation: colorChange 1s linear infinite;
 }

 @keyframes colorChange {
     10% { background-color: rgb(255, 255, 255); } /* Vermelho */
     10% { background-color: rgb(255, 0, 0); } /* Vermelho */
     30%{ background-color: rgb(162, 0, 255);}
     50% { background-color: rgb(0, 255, 0);} /* Verde */
     90% { background-color: rgb(0, 0, 255);} /* Azul */
     70% {  background-color: rgb(218, 255, 8);} 
     100% {  background-color: rgb(0, 0, 0);} 
   }


   @keyframes colorChangereverse {
     0% { background-color: rgb(255, 0, 0); } /* Vermelho */
     30%{ background-color: rgb(162, 0, 255);}
     50% { background-color: rgb(0, 255, 0);} /* Verde */
     100% { background-color: rgb(0, 0, 255);} /* Azul */
     70% {  background-color: rgb(218, 255, 8);} 
     
   }

}





 /*  @media screen and (min-height: 767px) and (
     min-height: 450px) {
     
     }
     
     
        }

        */